<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>On Sale</ion-title>
      </ion-col>
      <ion-col>
        <ion-img id="cashart" src="./assets/images/cashart.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-text id="currency">{{profile?.cashart}}</ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <div>

    <ion-avatar id="nft_image">
      <ion-img [src]="this.image"></ion-img>
    </ion-avatar>

    <div id="text">
      <ion-label>NFT-Code</ion-label><br>
      <p id="nft_code">{{this.nftcode}}</p>
      <ion-label>Name</ion-label>
      <p id="name">{{this.name}}</p>
      <ion-label>Author</ion-label>
      <p  (click)="gotoauthor()" id="author">{{this.nameauthor}}</p>
      <ion-label>Description</ion-label>
      <p id="descr">{{this.description}}</p>
      <ion-label>Seller</ion-label>
      <p id="seller" (click)="gotoseller()">{{this.nameseller}}</p>
      <ion-label>Price</ion-label>
      <p id="price">{{this.price}}</p>
    </div>

  </div>
  <ion-button id="buy" (click)="buynft()">Buy</ion-button>
  </div>
</ion-content>
