ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  height: auto;
  width: auto;
  text-align: center;
}

#publicsection p, #privatesection p{
  font-size: 13px;
  line-height: 8px;
  color: green;
  margin-top: 5px;

}

p1{
  font-size: 20px;
  line-height: 12px;
  color: #8c8c8c;


}
p2{
  font-size: 18px;
  line-height: 12px;
  color: #8c8c8c;


}
p3{
  font-size: 14px;
  line-height: 12px;
  color: #8c8c8c;


}
#profileimg{
  height: 150px;
  margin-top: 5%;
}
#publicsection{
  display: none;
}
#privatesection{
  display: block;
}
#currency{
  font-size: 8px;
  color: #8c8c8c;
  width: 10%;
  alignment: right;
}
#cashart
{
  height: 40px;
  alignment: right;
}
#pbgallery,#pbshop,#purchased,#sold {
  height:auto;
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;

}

ion-item {
  width : 33%;
  margin : 0.5px;
  text-aligh: left;
  font-size: smaller;
}

#pbgallery,#pbshop ion-img{
  height: 100px;
  width: auto;
  margin-top: 1px;

}
