ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  height: auto;
  width: auto;
  text-align: center;
}
#info{
  text-align:left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#info bio{
  margin-top: auto;
  margin-bottom: auto;
}
#info p{
  text-align: center;
  border-style: solid;
  border-color: #62ceff;
  border-radius: 10%;
  line-height: 22px;
  margin:0px 0px 5px;
  color: #4c8dff;
}
#publicsection p, #privatesection p{
  font-size: 13px;
  line-height: 8px;
  color: green;
  margin-top: 5px;
}


#publicsection{
  display: none;
}
#privatesection{
  display: block;
}
#currency{
  font-size: 15px;
  display: flex;
  margin-top:7px;
  color: #8c8c8c;
  width: 10%;
}
#cashart {
  height: 30px;
  alignment: right;
  overflow-inline: auto;
}
#gallery,#shop,#purchased,#sold, #solddummy, #shopdummy,#purchasedummy,#gallerydummy {
  height:auto;
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;

}

ion-item {
  width : 33%;
  text-aligh: left;
  font-size: smaller;
  margin-top: 5px;
}

ion-button{
  height: 20px;
}
#modifica{
  margin-right: -100px;
  margin-left: 190px;
  margin-top: 5px;

}
.nft_image {
    width: 50px;
    height: 50px;
    justify-content: center;
}
#container {
  height: auto;
  width: auto;
  text-align: center;
}

#profileimg{
  width: 128px;
  height: 128px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.preview {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#cash{
  display: flex;
  position: center;
}
ion-col{
  display: flex;
  flex-wrap: wrap;
}
.ios ion-title{
  padding-left: 10px;
  padding-right: 10px;

}
.logo{
  height: 11px;
  alignment: right;
  overflow-inline: auto;
}
#solddummy, #shopdummy,#purchasedummy,#gallerydummy {
  height:auto;
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;
}
