<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row><ion-col><ion-title>Profile</ion-title></ion-col><ion-col><ion-img id="cashart" src="./assets/images/cashart.png"></ion-img></ion-col><ion-col><ion-text id="currency">currency</ion-text></ion-col></ion-row>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="preview">
      <ion-avatar>
        <ion-img id="profileimg" src="{{profile?.image}}" [routerLink]="['/edit_profile']"></ion-img>
      </ion-avatar>
    </div>


    <div id="info">
    <ion-label>Username</ion-label><br>
    <p id="username" [routerLink]="['/edit_profile']">{{profile?.username}}</p>

    <ion-label>Bio</ion-label>
    <p id="bio" [routerLink]="['/edit_profile']">{{profile?.bio}}</p>
    </div>
    <ion-segment value="private">
      <ion-segment-button value="private" (click)="hide_show('private')">Private</ion-segment-button>
      <ion-segment-button value="public" (click)="hide_show('public')">Public</ion-segment-button>
    </ion-segment>

    <div id="privatesection">

    <ion-list id="sold">
    <ion-item [routerLink]="['/purchase-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome1pvt">Nome1pvt</p><p id="prezzo1pvt">Prezzo1pvt</p></div>
    </ion-item>

      <ion-item [routerLink]="['/purchase-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome2pvt">Nome2pvt</p><p id="prezzo2pvt">Prezzo2pvt</p></div>
    </ion-item>

      <ion-item [routerLink]="['/purchase-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome3pvt">Nome3pvt</p><p id="prezzo3pvt">Prezzo3pvt</p></div>
    </ion-item>

  </ion-list>
      <ion-button [routerLink]="['/nft-sold']">All Sold</ion-button>
      <ion-list id="purchased">

        <ion-item [routerLink]="['/purchase-detail']">
        <div class="nftitem"> <ion-img src="./assets/images/icon.png"></ion-img><p id="nome4pvt">Nome4pvt</p><p id="prezzo4pvt">Prezzo4pvt</p></div>
        </ion-item>

        <ion-item [routerLink]="['/purchase-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome5pvt">Nome5pvt</p><p id="prezzo5pvt">Prezzo5pvt</p></div>
        </ion-item>
        <ion-item [routerLink]="['/purchase-detail']">
            <div class="nftitem"> <ion-img src="./assets/images/icon.png"></ion-img><p id="nome6pvt">Nome6pvt</p><p id="prezzo6pvt">Prezzo6pvt</p></div>
        </ion-item>

      </ion-list>
      <ion-button [routerLink]="['/nft-purchased']">All Purchased</ion-button>
    </div>

<div id="publicsection">

    <ion-list id="pbgallery">

      <ion-item [routerLink]="['/publicuseritem-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome1pbl">Nome1pbl</p></div>
      </ion-item>

      <ion-item [routerLink]="['/publicuseritem-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome2pbl">Nome2pbl</p></div>
      </ion-item>

      <ion-item [routerLink]="['/publicuseritem-detail']">
      <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome3pbl">Nome3pbl</p></div>
      </ion-item>

    </ion-list>
  <ion-button [routerLink]="['/publicuser-gallery']">Pb-Gallery</ion-button>


  <ion-list id="pbshop">

    <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome4pbl">Nome4pbl</p><p id="prezzo4pbl">Prezzo4pbl</p></div>
    </ion-item>

    <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome5pbl">Nome5pbl</p><p id="prezzo5pbl">Prezzo5pbl</p></div>
    </ion-item>

    <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome6pbl">Nome6pbl</p><p id="prezzo6pbl">Prezzo6pbl</p></div>
    </ion-item>

  </ion-list>
  <ion-button [routerLink]="['/shop']">Pvt SHOP</ion-button>
    </div>

  </div>
</ion-content>
