<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row><ion-col><ion-title>{{"PROFILE.title" | translate }}</ion-title></ion-col>
      <ion-col>
        <div id="cash">
          <ion-img id="cashart" src="./assets/images/cashart.png"></ion-img>
          <ion-text id="currency">{{profile?.cashart}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="preview">
      <ion-avatar id="profileimg">
        <ion-img src="{{profile?.image}}" (click)="goeditprofile()"></ion-img>
      </ion-avatar>
    </div>


    <div id="info">
    <ion-label>{{"PROFILE.username" | translate }}</ion-label><br>
    <p id="username" [routerLink]="['/edit-profile']">{{profile?.username}}</p>
    <ion-label>{{ "PROFILE.bio" | translate }}</ion-label><br>
    <p id="bio" [routerLink]="['/edit-profile']">{{profile?.bio}}</p>
    </div>
    <ion-segment value="private">
      <ion-segment-button value="private" (click)="hide_show('private')">{{ "PROFILE.private" | translate }}</ion-segment-button>
      <ion-segment-button value="public" (click)="hide_show('public')">{{ "PROFILE.public" | translate }}</ion-segment-button>
    </ion-segment>

    <div [ngClass]="[private]">

  <ion-item-divider>
      <ion-label class="mark">{{ "PROFILE.titleSold" | translate }}</ion-label>
      <ion-button slot="end" [routerLink]="['/','nft-sold', this.profilestring]">{{ "PROFILE.btnSold" | translate }}</ion-button>
  </ion-item-divider>

        <ion-list [ngClass]="[sold]">
          <ion-item *ngFor="let soldnft of soldnfts; index as i " (click)="gotodetailsold(i)" detail='false'>
            <div>
              <ion-avatar class="nft_image">
                <img [src]="soldnft.image" alt=""/>
              </ion-avatar>
              <p>{{soldnft.name}}</p>
              <p><img class="logo" src="./assets/images/cashart.png"> {{soldnft.price}}</p>
            </div>
          </ion-item>
        </ion-list>

      <ion-list [ngClass]="[solddummy]">
        <ion-item>
          <div>
            <ion-avatar class="nft_image">
              <img src="./assets/images/icon.png">
            </ion-avatar>
            <p>No</p>
            <p>Items</p>
          </div>
        </ion-item>
      </ion-list>


      <ion-item-divider>
        <ion-label class="mark">{{ "PROFILE.titlePurchased" | translate }}</ion-label>
        <ion-button slot="end" [routerLink]="['/','nft-purchased', this.profilestring]">{{ "PROFILE.btnPurchased" | translate }}</ion-button>
      </ion-item-divider>

        <ion-list [ngClass]="[purchased]">
          <ion-item *ngFor="let purchasednft of purchasednfts; index as i " (click)="gotodetailpurchased(i)" detail='false'>
            <div>
              <ion-avatar class="nft_image">
                <img [src]="purchasednft.image" alt=""/>
              </ion-avatar>
              <p>{{purchasednft.name}}</p>
              <p><img class="logo" src="./assets/images/cashart.png"> {{purchasednft.price}}</p>
            </div>
          </ion-item>
        </ion-list>

      <ion-list [ngClass]="[purchasedummy]">
        <ion-item>
          <div>
            <ion-avatar class="nft_image">
              <img src="./assets/images/icon.png">
            </ion-avatar>
            <p>No</p>
            <p>Items</p>
          </div>
        </ion-item>
      </ion-list>


    </div>

<div [ngClass]="[public]">

  <ion-item-divider>
    <ion-label class="mark">{{ "PROFILE.titleGallery" | translate }}</ion-label>
    <ion-button slot="end" [routerLink]="['/','public-gallery', this.profilestring]">{{ "PROFILE.btnGallery" | translate }}</ion-button>
  </ion-item-divider>

  <ion-list [ngClass]="[gallery]">
    <ion-item *ngFor="let gallerynft of publicgallerynfts "  [routerLink]="['/', 'publicgallery-detail', gallerynft ]" detail='false'>
      <div>
        <ion-avatar class="nft_image">
          <img [src]="gallerynft.image" alt=""/>
        </ion-avatar>
        <p>{{gallerynft.name}}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list [ngClass]="[gallerydummy]">
    <ion-item>
      <div>
        <ion-avatar class="nft_image">
          <img src="./assets/images/icon.png">
        </ion-avatar>
        <p>No</p>
        <p>Items</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-label class="mark">{{ "PROFILE.titleShop" | translate }}</ion-label>
    <ion-button slot="end" (click)="gotoshop()">{{ "PROFILE.btnShop" | translate }}</ion-button>
  </ion-item-divider>


  <ion-list [ngClass]="[shop]">
    <ion-item *ngFor="let onsalenft of onsalenfts "  [routerLink]="['/', 'shop-detail', onsalenft ]" detail='false'>
      <div>
        <ion-avatar class="nft_image">
          <img [src]="onsalenft.image" alt=""/>
        </ion-avatar>
        <p>{{onsalenft.name}}</p>
        <p><img class="logo" src="./assets/images/cashart.png"> {{onsalenft.price}}</p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list [ngClass]="[shopdummy]">
    <ion-item>
      <div>
        <ion-avatar class="nft_image">
          <img  src="./assets/images/icon.png">
        </ion-avatar>
        <p>No</p>
        <p>Items</p>
      </div>
    </ion-item>
  </ion-list>

    </div>

  </div>
</ion-content>
