<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
    <ion-button slot="end" [routerLink]="['/new-item']">
      <ion-icon slot="icon-only" name="" ></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list id="gallery">
        <ion-item [routerLink]="['/gallery-detail']">
          <div class="nftitem">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <div class="nftp">
              <p>Nome1</p>
            </div>
          </div>
        </ion-item>
        <ion-item [routerLink]="['/gallery-detail']">
          <div class="nftitem">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <div class="nftp">
              <p>Nome2</p>
            </div>
          </div>
        </ion-item>
        <ion-item [routerLink]="['/gallery-detail']">
          <div class="nftitem">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <div class="nftp">
              <p>Nome3</p>
            </div>
          </div>
        </ion-item>
      </ion-list>


    </div>
</ion-content>
