<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ "GALLERY.title" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="create() ">
        <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
      <ion-button (click)="addallpublic()">
        <ion-icon slot="icon-only" name="cloud-upload-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-list [ngClass]="[gallery]">
        <ion-item *ngFor="let nft of nfts "  [routerLink]="['/', 'gallery-detail', nft ]" replaceUrl="true" detail='false'>
          <div>
              <ion-avatar id="nft_image">
                <img [src]="nft.image" alt=""/>
              </ion-avatar>
            <p>{{nft.name}}</p>
          </div>
        </ion-item>
      </ion-list>

    <ion-list [ngClass]="[gallerydummy]">
      <ion-item>
        <div class="dummy">
          <ion-avatar class="nft_image">
            <img src="./assets/images/icon.png">
          </ion-avatar>
          <p>{{ "DUMMY.text1" | translate }}</p>
          <p>{{ "DUMMY.text2" | translate }}</p>
        </div>
      </ion-item>
    </ion-list>

    </div>

</ion-content>
