#container {
  height: auto;
  width: auto;
  text-align: center;
}
#gallery {
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;

}

ion-item {
  width : 33%;
  margin : 0.5px;
  text-aligh: left;
  font-size: smaller;
}

#gallery ion-img{
  height: 100px;
  width: auto;
  margin-top: 5px;

}
