<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentials"(ngSubmit)="reset()">
    <ion-label>Email</ion-label>
    <ion-item-divider>
      <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"></ion-note>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/']" type="submit" color="danger" expand="block" [disabled]="!credentials.valid">Send Reset</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content>
