<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "LOGIN.titleF" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <form [formGroup]="credentials"(ngSubmit)="reset()">
    <ion-label>Email</ion-label>
    <ion-item-divider>
      <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"></ion-note>
    </ion-item-divider>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/']" type="submit" expand="block" [disabled]="!credentials.valid">{{ "LOGIN.reset" | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <small>{{ "LOGIN.resetmessage" | translate }}
    </small>
  </form>
  </div>
</ion-content>
