<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [ngClass]="[back]"></ion-back-button>

       <ion-button [ngClass]="[backemergency]" [routerLink]="['/profile']" replaceUrl="true">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-title>{{ "GALLERY.titleP" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [ngClass]="[deleteall]" (click)="deleteallpublic()">
        <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list [ngClass]="[gallery]">
      <ion-item *ngFor="let gallerynft of publicgallerynfts "  [routerLink]="['/', 'publicgallery-detail', gallerynft ]" detail='false' >
        <div>
          <ion-avatar class="nft_image">
            <img [src]="gallerynft.image" alt=""/>
          </ion-avatar>
          <p>{{gallerynft.name}}</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list [ngClass]="[gallerydummy]">
      <ion-item>
        <div class="dummy">
          <ion-avatar class="nft_image">
            <img src="./assets/images/icon.png">
          </ion-avatar>
          <p>{{ "DUMMY.text1" | translate }}</p>
          <p>{{ "DUMMY.text2" | translate }}</p>
        </div>
      </ion-item>
    </ion-list>


  </div>
</ion-content>
