<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "GALLERY.titleP" | translate }}</ion-title>



  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list [ngClass]="[gallery]">
      <ion-item *ngFor="let gallerynft of publicgallerynfts "  [routerLink]="['/', 'publicgallery-detail', gallerynft ]" >
        <div>
          <ion-avatar class="nft_image">
            <img [src]="gallerynft.image" alt=""/>
          </ion-avatar>
          <p>{{gallerynft.name}}</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list [ngClass]="[gallerydummy]">
      <ion-item>
        <div>
          <ion-avatar class="nft_image">
            <img src="./assets/images/icon.png">
          </ion-avatar>
          <p>No</p>
          <p>Items</p>
        </div>
      </ion-item>
    </ion-list>


  </div>
</ion-content>
