<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form>
<!--
      <div class="preview">
        <ion-avatar (click)="changeImage()">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl"/>
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
        </ion-avatar>
      </div>
      -->
      <ion-grid>
        <ion-row class="ion-align-self-center">
          <ion-col size="6">
            <ion-button (click)="takePhoto(1)">Show Camera</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="takePhoto(0)">Show Album</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="base64Image">
        <img [src]="base64Image">
        <ion-button (click)="upload()">Upload to Firebase!</ion-button>
      </div>
      <ion-label>Username</ion-label>
      <ion-item-divider>
        <ion-input type="text" required></ion-input>
      </ion-item-divider>

      <ion-label>Password</ion-label>
      <ion-item-divider>
        <ion-input type="password" required></ion-input>
      </ion-item-divider>

      <ion-label position="floating">Email</ion-label>
      <ion-item-divider>
        <ion-input type="text" required></ion-input>
      </ion-item-divider>

      <ion-label position="floating">Bio</ion-label>
      <ion-item-divider>
        <ion-input type="text" required></ion-input>
      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/login']" type="submit" color="danger" expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
