<ion-header>
  <ion-toolbar>
    <ion-title>new_item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>

  <ion-img src="./assets/images/icon.png"></ion-img>

  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea placeholder="Enter the item description"></ion-textarea>
  </ion-item>
  <ion-button [routerLink]="['/gallery']" type="submit" color="secondary" expand="block">Create</ion-button>
  <ion-button [routerLink]="['/gallery']" expand="block" color="danger" >Cancel</ion-button>
</form>
</ion-content>
