<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-buttons><ion-button (click)="back()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon> </ion-button></ion-buttons>
      </ion-col>

        <ion-title>{{ "GALLERY.titleN" | translate }}</ion-title>

    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">


  <form [formGroup]="nftInfo" (ngSubmit)="createNFT()">
    <div id="input">
      <ion-label>{{ "GALLERY.name" | translate }}</ion-label>
      <ion-item-divider>
        <ion-input id="item" type="text" required placeholder="{{ 'GALLERY.nameI' | translate }}" formControlName="name"></ion-input>
        <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors"></ion-note>
      </ion-item-divider>

      <ion-label>{{ "GALLERY.description" | translate }}</ion-label>
      <ion-item-divider>
        <ion-input type="text" required placeholder="{{ 'GALLERY.descI' | translate }}" formControlName="desc"></ion-input>
        <ion-note slot="error" *ngIf="(name.dirty || desc.touched) && desc.errors"></ion-note>
      </ion-item-divider>

      <ion-button id="create" type="submit" expand="block" [disabled]="!nftInfo.valid">{{ "GALLERY.create" | translate }}</ion-button>

    </div>
  </form>
</div>
</ion-content>
