<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><div id="menu"></div>
    </ion-buttons>
    <ion-row><ion-col><ion-title>{{ "HOME.title" | translate }}</ion-title></ion-col>
      <ion-col>
        <div id="cash">
          <ion-img id="cashart" src="./assets/images/cashart.png"></ion-img>
          <ion-text id="currency">{{profile?.cashart}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-item-divider><strong class="capitalize">{{'HOME.vetrina' | translate }}</strong></ion-item-divider>

    <div>
      <ion-list id="shop">
        <ion-item *ngFor="let nft of nfts "  [routerLink]="['/', 'shop-detail', nft ]" >
          <div>
            <ion-avatar id="nft_image">
              <img [src]="nft.image" alt=""/>
            </ion-avatar>
            <p>{{nft.name}}</p>
            <p><img class="logo" src="./assets/images/cashart.png">{{nft.price}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-button [routerLink]="['/shop']">{{ "HOME.shop" | translate }}</ion-button>

  </div>

</ion-content>
<ion-footer id="footer"><p>Copiright by PietroAlex & alexdib-creator</p></ion-footer>
