ion-item {
  width : 33%;
  margin : 0.5px;
  text-aligh: left;
  font-size: smaller;
}

#shop ion-img{
  height: 100px;
  width: auto;
  margin-top: 5px;

}
#currency{
  font-size: 8px;

  color: #8c8c8c;
  width: 10%;
  alignment: right;
}
#cashart
{
  height: 30px;
  alignment: right;
}
#container {
  height: auto;
  width: auto;
  text-align: center;
}


#shop {
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;

}
