#shopdiv ion-item {
  width : 33%;
  text-aligh: left;
  font-size: smaller;
  margin-top: 5px;
}

#shop ion-img{
  height: 100px;
  width: auto;
  margin-top: 5px;

}
#currency{
  font-size: 15px;
  display: flex;
  margin-top:7px;
  color: #8c8c8c;
  width: 10%;
  margin-left: 5px;
}
#cashart {
  height: 30px;
  alignment: right;
  overflow-inline: auto;
}
#cash{
  display: flex;
  position: center;
}
#container {
  height: auto;
  width: auto;
  text-align: center;
  line-height: 35px;
}
#container p {
  color: #8c8c8c;
  align-content: baseline;
  font-size: 13px;
  line-height: 11px;
  margin-top: 7px;
}
#shop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#value{
  text-align: left;
  margin-right: -20px;
}
#icon{
  text-align: right;
  margin-left: -30px;
}
#text {
  text-align: center;
}
#nft_image {
  width: 50px;
  height: 50px;
  justify-content: center;
}
.md ion-title{
  font-size: 15px;
  display: flex;
  position: center;
  margin: 5px -15px 0px -15px;
}
.ios ion-title{
  padding-left: 10px;
  padding-right: 10px;

}
.logo{
  height: 11px;
  alignment: right;
  overflow-inline: auto;
}
.need{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.no-need{
  display: none;
}

