<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row><ion-col><ion-title>Shop</ion-title></ion-col><ion-col><ion-img id="cashart" src="./assets/images/cashart.png"></ion-img></ion-col><ion-col><ion-text id="currency">currency</ion-text></ion-col></ion-row>

  </ion-toolbar>

</ion-header>

<ion-content id="container">
  <ion-list id="shop">
  <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem">
      <ion-img src="./assets/images/icon.png"></ion-img>
      <div class="nftp">
        <p>Nome1</p>
        <p>Prezzo1</p>
      </div>
    </div>
  </ion-item>
  <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem">
      <ion-img src="./assets/images/icon.png"></ion-img>
      <div class="nftp">
        <p>Nome2</p>
        <p>Prezzo2</p>
      </div>
    </div>
  </ion-item>
  <ion-item [routerLink]="['/shop-detail']">
    <div class="nftitem">
      <ion-img src="./assets/images/icon.png"></ion-img>
      <div class="nftp">
        <p>Nome3</p>
        <p>Prezzo3</p>
      </div>
    </div>
  </ion-item>
  </ion-list>
</ion-content>
