<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>{{ "SHOP.title" | translate }}</ion-title>
      </ion-col>
      <ion-col>
        <div id="cash">
          <ion-img id="cashart" src="./assets/images/cashart.png"></ion-img>
          <ion-text id="currency">{{profile?.cashart}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>
<ion-content id="container">

  <ion-row>
    <ion-col id="value"><ion-label>{{ "SHOP.orderby:" | translate }}</ion-label></ion-col>
    <ion-col id="text"><ion-label>{{value}}</ion-label></ion-col>
    <ion-col id="icon"><ion-icon name="filter" id="trigger-buttonn" ></ion-icon></ion-col>

  </ion-row>
  <!--<ion-button id="trigger-button">Click to open popover</ion-button> -->


  <ion-popover trigger="trigger-buttonn">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-radio-group value="{{type}}">
            <ion-list-header>
              <ion-label>{{ "SHOP.orderby" | translate }}</ion-label>
            </ion-list-header>

            <ion-item (click)="selectorder('newest')">
              <ion-label>{{ "SHOP.datenew" | translate }}</ion-label>
              <ion-radio slot="start" value="newest"></ion-radio>
            </ion-item>

            <ion-item (click)="selectorder('oldest')">
              <ion-label>{{ "SHOP.dateold" | translate }}</ion-label>
              <ion-radio slot="start" value="oldest"></ion-radio>
            </ion-item>

            <ion-item (click)="selectorder('cheapest')">
              <ion-label>{{ "SHOP.pricecheap" | translate }}</ion-label>
              <ion-radio slot="start" value="cheapest"></ion-radio>
            </ion-item>

            <ion-item (click)="selectorder('expensive')">
              <ion-label>{{ "SHOP.priceexpensive" | translate }}</ion-label>
              <ion-radio slot="start" value="expensive"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div id="shopdiv">
  <ion-list [ngClass]="[shop]">
    <ion-item *ngFor="let nft of nfts "  [routerLink]="['/', 'shop-detail', nft ]"  detail='false'>
      <div>
        <ion-avatar id="nft_image">
          <img [src]="nft.image" alt=""/>
        </ion-avatar>
        <p>{{nft.name}}</p>
        <p><img class="logo" src="./assets/images/cashart.png"> {{nft.price}}</p>
      </div>
    </ion-item>
  </ion-list>

    <ion-list [ngClass]="[shopdummy]">
      <ion-item>
        <div>
          <ion-avatar class="nft_image">
            <img  src="./assets/images/icon.png">
          </ion-avatar>
          <p>No</p>
          <p>Items</p>
        </div>
      </ion-item>
    </ion-list>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="search"(click)="gotosearch()"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
