<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>



    <ion-searchbar
      showCancelButton
      searchIcon="search"
      animated
      cancel-button-icon
      (ionCancel)="hideSearch()"
      (search)="loadsearch($event.target.value)"
      placeholder="Search Some Values">
    </ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content id="container">

  <ion-row>
    <ion-col id="value"><ion-label>Search By:</ion-label></ion-col>
    <ion-col id="text"><ion-label>{{value}}</ion-label></ion-col>
    <ion-col id="icon"><ion-icon name="filter" id="trigger-button"></ion-icon></ion-col>

  </ion-row>
  <!--<ion-button id="trigger-button">Click to open popover</ion-button> -->


  <ion-popover trigger="trigger-button">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-radio-group value="{{type}}">
            <ion-list-header>
              <ion-label>Search By</ion-label>
            </ion-list-header>

            <ion-item (click)="selecttype('profile')">
              <ion-label>Profiles</ion-label>
              <ion-radio slot="start" value="profile"></ion-radio>
            </ion-item>

            <ion-item (click)="selecttype('salenft')">
              <ion-label>OnSaleNFTs</ion-label>
              <ion-radio slot="start" value="salenft"></ion-radio>
            </ion-item>

            <ion-item (click)="selecttype('publicnft')">
              <ion-label>Public NFTs</ion-label>
              <ion-radio slot="start" value="publicnft"></ion-radio>
            </ion-item>


          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div id="salenft">
    <ion-list>
      <ion-item *ngFor="let onsalenft of onSaleNFTs "  [routerLink]="['/', 'shop-detail', onsalenft ]" >
        <div>
          <ion-avatar class="nft_image">
            <img [src]="onsalenft.image" alt=""/>
          </ion-avatar>
          <p>{{onsalenft.name}}</p>
          <p>{{onsalenft.price}}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div id="publicnft">
    <ion-list>
      <ion-item *ngFor="let nft of NFTs "  [routerLink]="['/', 'publicgallery-detail', nft ]" >
        <div>
          <ion-avatar class="nft_image">
            <img [src]="nft.image" alt=""/>
          </ion-avatar>
          <p>{{nft.name}}</p>

        </div>
      </ion-item>
    </ion-list>
  </div>

  <div id="profile">

    <ion-list>
      <ion-item *ngFor="let profile of profiles "  [routerLink]="['/', 'publicuser-profile', profile ]" >
        <div>
          <ion-avatar class="nft_image">
            <img [src]="profile.image" alt=""/>
          </ion-avatar>
          <p>{{profile.username}}</p>

        </div>
      </ion-item>
    </ion-list>
  </div>
  <!--
  <ion-list id="search">
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div class="nftp">
          <p1>Nome1</p1><br>
          <p2>Prezzo1 o no</p2>
        </div>
      </div>
    </ion-item>
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div class="nftp">
          <p1>Nome2</p1><br>
          <p2>Prezzo2 o no</p2>
        </div>
      </div>
    </ion-item>
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div>
          <p1>Nome3</p1><br>
          <p2>Prezzo3 o no</p2>
        </div>
      </div>
    </ion-item>
  </ion-list>
  -->
</ion-content>
