<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content id="container">
  <ion-select position="flow"  value="profile" id="select">
    <ion-select-option value="profile" (change)="selecttype('profile')">
      User Profiles
    </ion-select-option>

    <ion-select-option value="salenft" (change)="selecttype('salenft')">
      On sale Nft
    </ion-select-option>

    <ion-select-option value="publicnft" (change)="selecttype('publicnft')">
      Public Nft
    </ion-select-option>

    <ion-select-option value="sellershop" (change)="selecttype('sellershop')">
      Seller Shop
    </ion-select-option>

  </ion-select>
  <ion-list id="search">
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div class="nftp">
          <p1>Nome1</p1><br>
          <p2>Prezzo1 o no</p2>
        </div>
      </div>
    </ion-item>
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div class="nftp">
          <p1>Nome2</p1><br>
          <p2>Prezzo2 o no</p2>
        </div>
      </div>
    </ion-item>
    <ion-item [routerLink]="[dest]">
      <div>
        <ion-img src="./assets/images/icon.png"></ion-img>
        <div>
          <p1>Nome3</p1><br>
          <p2>Prezzo3 o no</p2>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
