#search ion-item {
  width : 33%;
  text-aligh: left;
  font-size: smaller;
}

#shop ion-img{
  height: 100px;
  width: auto;
  margin-top: 5px;

}
#currency{
  font-size: 8px;
  color: #8c8c8c;
  width: 10%;
  alignment: right;
}
#cashart {
  height: 30px;
  alignment: right;
}
#container {
  height: auto;
  width: auto;
  text-align: center;
  line-height: 35px;
}
#container p {
  color: #8c8c8c;
  align-content: baseline;
  font-size: 13px;
  line-height: 11px;
  margin-top: 2px;
}
#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#value{
  text-align: left;
  margin-right: -20px;
}
#icon{
  text-align: right;
  margin-left: -30px;
}
#text {
  text-align: left;
}
.nft_image {
  width: 50px;
  height: 50px;
  justify-content: center;
}
.md ion-searchbar{

}
