.container {
  height: auto;
  width: auto;
  text-align: left;
  position: relative;
}
#text {
  margin: 5px 30px 0px 30px;
}
.container p{
  text-align: center;
  border-style: solid;
  border-color: #62ceff;
  border-radius: 10%;
  line-height: 22px;
  margin:0px 0px 5px;
}
#cashart {
  height: 60px;
  alignment: right;
  overflow-inline: auto;
}

ion-button{
  width: 55%;
  margin_right:auto;
  margin-left: 40%;
}
#nft_image{
  width: 128px;
  height: 128px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 8px;
}
ion-fab-button{
  margin-top: 5px;
}
#author{
  color: #4c8dff;
}
img{
  height: 100%;
  width: 100%;
}
.card{position: absolute;}
.show{
  display: block;
}
.hide{
  display: none;
}
