<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>NFT Info</ion-title>
      </ion-col>
      <ion-col>
        <ion-button id="sell" [routerLink]="['/sell-item']">
          <ion-img id="cashart" src="./assets/images/cashart.png"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img src="./assets/images/icon.png"></ion-img>
    <div id="text">
      <ion-label>NFT-Code</ion-label><br>
        <p id="nft_code">NFTcode</p>
      <ion-label>Name</ion-label>
        <p id="name">NFTname</p>
      <ion-label>Author</ion-label>
        <p id="author">NFTauthor</p>
      <ion-label>Description</ion-label>
        <p id="descr">NFTdescriptionnijnbhrabvbrubwehibuiagiunergjowhafwbEYFBWEUEFNOUNWUGNERWBGYBWEUFNUWEBFYGEWYFG42HT9743HUFDSUGBHERNBGERNI</p>
    </div>
  </div>
</ion-content>
