<ion-header>
  <ion-toolbar>
    <ion-title>SELL-NFT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <ion-img src="./assets/images/icon.png"></ion-img>
    <div id="box">
      <ion-label>NFT-Code</ion-label><br>
      <p id="nft_code">{{nft?.nftcode}}</p>
      <ion-label>Name</ion-label>
      <p id="name">{{nft?.name}}</p>
      <form [formGroup]="nftInfo" (ngSubmit)="sellItem()">
        <ion-label>Price</ion-label>
        <ion-item-divider>
          <ion-input id="item" type="text" required placeholder="Name" formControlName="price"></ion-input>
          <ion-note slot="error" *ngIf="(price.dirty || price.touched) && price.errors"></ion-note>
        </ion-item-divider>

        <ion-button type="submit" color="secondary" expand="block">Sell</ion-button>
        <ion-button [routerLink]="['/gallery-detail']" expand="block" color="danger" >Cancel</ion-button>
      </form>
    </div>
  </div>
</ion-content>
