<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
        <ion-title>PublicNFT Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-avatar id="nft_image">
      <ion-img [src]="this.image"></ion-img>
    </ion-avatar>

    <div id="text">
      <ion-label>NFT-Code</ion-label><br>
      <p id="nft_code">{{this.nftcode}}</p>
      <ion-label>Name</ion-label>
      <p id="name">{{this.name}}</p>
      <ion-label>Author</ion-label>
      <p (click)="gotoauthor()" id="author">{{this.nameauthor}}</p>
      <ion-label>Description</ion-label>
      <p id="descr">{{this.description}}</p>

    </div>

  </div>
</ion-content>
