<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [ngClass]="[back]"></ion-back-button>

        <ion-button [ngClass]="[backprofile]" [routerLink]="['/profile']" replaceUrl="true">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
        <ion-title>{{ "GALLERY.titlePD" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-card class="card" [ngClass]="[overlay]">
      <img [src] = this.image (click)="hide()">
    </ion-card>

    <ion-avatar id="nft_image">
      <ion-img [src]="this.image" (click)="show()"></ion-img>
    </ion-avatar>

    <div id="text">
      <ion-label>{{ "GALLERY.nftcode" | translate }}</ion-label><br>
      <p id="nft_code">{{this.nftcode}}</p>
      <ion-label>{{ "GALLERY.name" | translate }}</ion-label>
      <p id="name">{{this.name}}</p>
      <ion-label>{{ "GALLERY.author" | translate }}</ion-label>
      <p (click)="gotoauthor()" id="author">{{this.nameauthor}}</p>
      <ion-label>{{ "GALLERY.description" | translate }}</ion-label>
      <p id="descr">{{this.description}}</p>

    </div>
    <ion-fab horizontal="end" slot="fixed">
      <ion-fab-button [ngClass]="[deleteitem]" size="small" (click)="toUNpublic()"><ion-icon name="trash-bin-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
