<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sold Nft</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content id="container">

    <ion-list id="sold">
      <ion-item *ngFor="let nft of nfts; index as i " (click)="gotodetail(i)">
        <div>
          <ion-avatar>
            <img [src]="nft.image" alt=""/>
          </ion-avatar>
          <p>{{nft.name}}</p>
          <p>{{nft.price}}</p>
          <p>{{nft.buyer}}</p>
          <p>{{nft.purchase_date.toDate() | date:'dd/MM/yyyy'}}</p>
        </div>
      </ion-item>

    </ion-list>

</ion-content>
