<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "NFT.titleS" | translate }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content id="container">

  <ion-list [ngClass]="[sold]">
      <ion-item *ngFor="let nft of nfts; index as i " (click)="gotodetail(i)" detail='false'>
        <div>
          <ion-avatar id="nft_image">
            <img [src]="nft.image" alt=""/>
          </ion-avatar>
          <p>{{nft.name}}</p>
          <p>{{nft.purchase_date.toDate() | date:'dd/MM/yyyy'}}</p>
        </div>
      </ion-item>

    </ion-list>

  <ion-list [ngClass]="[solddummy]">
    <ion-item>
      <div class="dummy">
        <ion-avatar class="nft_image">
          <img src="./assets/images/icon.png">
        </ion-avatar>
        <p>{{ "DUMMY.text1" | translate }}</p>
        <p>{{ "DUMMY.text2" | translate }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
