<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Purchase Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div>
      <ion-img [src]="this.image"></ion-img>
      <div id="text">
        <ion-label>NFT-Code</ion-label><br>
        <p id="nft_code">{{this.nftcode}}</p>
        <ion-label>Name</ion-label>
        <p id="name">{{this.name}}</p>
        <ion-label>Author</ion-label>
        <p id="author"  (click)="goauthor()">{{this.nameauthor}}</p>
        <ion-label>Description</ion-label>
        <p id="descr">{{this.description}}</p>
        <ion-label>Seller</ion-label>
        <p id="seller"  (click)="goseller()">{{this.nameseller}}</p>
        <ion-label>Price</ion-label>
        <p id="price">{{this.price}}</p>
        <ion-label>Buyer</ion-label>
        <p id="buyer" (click)="gobuyer()">{{this.namebuyer}}</p>
        <ion-label>Purchase date</ion-label>
        <p id="purchase_date">{{this.purchase_date}}</p>
      </div>
    </div>
  </div>
</ion-content>
