<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img id ="img" src="./assets/images/icon.png"></ion-img>

    <form [formGroup]="registers" (ngSubmit)="register()">
      <ion-label>Username</ion-label>
      <ion-item-divider>
        <ion-input type="text" required placeholder="Username" formControlName="username" (click)="showMessage()"></ion-input>
      </ion-item-divider>
      <p [ngClass]="[message]" (click)="hideMessage()">Warning: the username CAN NOT be changed once successfully signed up! Mind your choice :)</p>
      <ion-label position="floating">Bio</ion-label>
      <ion-item-divider>
        <ion-input type="text"  formControlName="bio"></ion-input>
      </ion-item-divider>

      <ion-label>Email</ion-label>
      <ion-item-divider>
        <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>

      </ion-item-divider>

      <ion-label>Password</ion-label>
      <ion-item-divider>
        <ion-input type="password" required placeholder="Password" formControlName="password"></ion-input>

      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" [disabled]="!registers.valid">Sign Up</ion-button>

        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
