<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "LOGIN.titleR" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img id ="img" src="./assets/images/icon.png"></ion-img>

    <form [formGroup]="registers" (ngSubmit)="register()">
      <ion-label>{{ "LOGIN.username" | translate }}<span>*</span></ion-label>
      <ion-item-divider>
        <ion-input type="text" required placeholder="Username" formControlName="username" (click)="showMessage()"></ion-input>
      </ion-item-divider>
      <p [ngClass]="[message]" (click)="hideMessage()">{{ "LOGIN.usernamemess" | translate }}</p>
      <ion-label position="floating">{{ "LOGIN.bio" | translate }}</ion-label>
      <ion-item-divider>
        <ion-input type="text"  formControlName="bio"></ion-input>
      </ion-item-divider>

      <ion-label>Email<span>*</span></ion-label>
      <ion-item-divider>
        <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>

      </ion-item-divider>

      <ion-label>Password<span>*</span></ion-label>
      <ion-item-divider>
        <ion-input type="password" required placeholder="Password" formControlName="password"></ion-input>

      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" [disabled]="!registers.valid">{{ "LOGIN.register" | translate }}</ion-button>

        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
