    <ion-header [translucent]="true">
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "NOTIFY.title" | translate }}</ion-title>

      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>


      <ion-list [ngClass]="[notify]">
        <ion-item-sliding  *ngFor="let notification of notifications ; index as i  " >
          <ion-item (click)="godetail(i)">
            <div></div>
            <ion-label>
              <h2>{{notification.nftcode }}</h2>
              <p>{{notification.name }}</p>
              <p>{{ "NOTIFY.buyer" | translate }}: {{notification.buyer.substring(0, notification.buyer.indexOf("-"))}}</p><p><img class="logo" src="./assets/images/cashart.png"> {{notification.price}}</p>
            </ion-label>
            <ion-note slot="end">
              {{notification.purchase_date.toDate() | date:'dd/MM/yyyy'}}
            </ion-note>
          </ion-item>


          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash" (click)="delete1Notify(i)"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list [ngClass]="[notifydummy]">
        <ion-item-sliding>
            <ion-item>
              <div></div>
              <ion-label>
                <h2>No</h2>
                <p>Notification</p>
                <p>buyer</p><p><img class="logo" src="./assets/images/cashart.png"> price</p>
              </ion-label>
              <ion-note slot="end">
                purchase_date
              </ion-note>
        </ion-item>


        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-item-option>
        </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-content>


