    <ion-header [translucent]="true">
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>

      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>


      <ion-list>

        <ion-item-sliding id="item100" *ngFor="let notification of notifications ; index as i  " >
          <ion-item (click)="godetail(i)">
            <div></div>
            <ion-label>
              <h2>{{notification.nftcode }}</h2>
              <p>{{notification.name }}</p>
              <p>{{notification.buyer.substring(0, notification.buyer.indexOf("-"))}}</p><p>{{notification.price }}</p>
            </ion-label>
            <ion-note slot="end">
              {{notification.purchase_date.toDate() | date:'dd/MM/yyyy'}}
            </ion-note>
          </ion-item>


          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash" (click)="delete1Notify(i)"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


      </ion-list>
    </ion-content>


