    .unread {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: #3684ff;
      margin-top: 15px;
      margin-right: 8px;
      align-self: start;
    }
    .read{

    }
