<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item *ngFor="let notifications of notifications$ | async" [routerLink]="['/notifications', notifications.id]" routerDirection="forward" detail="true">
    <p>{{notifications.nft.nftcode }}</p>
    <p>{{notifications.nft.image }}</p>
    <p>{{notifications.nft.name }}</p>
    <p>{{notifications.nft.purchase_date | date:'dd/MM/yyyy'}}</p><p>{{notifications.nft.buyer }}</p><p>{{notifications.nft.price }}</p>
  </ion-item>
</ion-list>
</ion-content>
