<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Public Profile</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-img id="profileimg" src="./assets/images/icon.png"></ion-img>

    <div id="info">


      <ion-label>Username</ion-label><br>
      <p id="username">Username</p>

      <ion-label>Bio</ion-label>
      <p id="bio">bio</p>
    </div>

    <div id="publicsection">

      <ion-list id="pbgallery">

        <ion-item [routerLink]="['/publicuseritem-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome1pbl">Nome1pbl</p></div>
        </ion-item>

        <ion-item [routerLink]="['/publicuseritem-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome2pbl">Nome2pbl</p></div>
        </ion-item>

        <ion-item [routerLink]="['/publicuseritem-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome3pbl">Nome3pbl</p></div>
        </ion-item>

      </ion-list>
      <ion-button [routerLink]="['/publicuser-gallery']">Pb-Gallery</ion-button>


      <ion-list id="pbshop">

        <ion-item [routerLink]="['/shop-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome4pbl">Nome4pbl</p><p id="prezzo4pbl">Prezzo4pbl</p></div>
        </ion-item>

        <ion-item [routerLink]="['/shop-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome5pbl">Nome5pbl</p><p id="prezzo5pbl">Prezzo5pbl</p></div>
        </ion-item>

        <ion-item [routerLink]="['/shop-detail']">
          <div class="nftitem"><ion-img src="./assets/images/icon.png"></ion-img><p id="nome6pbl">Nome6pbl</p><p id="prezzo6pbl">Prezzo6pbl</p></div>
        </ion-item>

      </ion-list>
      <ion-button [routerLink]="['/shop']">Pvt SHOP</ion-button>
    </div>

  </div>
</ion-content>
