<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "PROFILE.titleP" | translate }}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="preview">
      <ion-avatar id="profileimg">
        <ion-img src="{{profile?.image}}"></ion-img>
      </ion-avatar>
    </div>


    <div id="info">
      <ion-label>{{"PROFILE.username" | translate }}</ion-label><br>
      <p id="username">{{profile?.username}}</p>

      <ion-label>{{ "PROFILE.bio" | translate }}</ion-label>
      <p id="bio">{{profile?.bio}}</p>
    </div>


    <div>

      <ion-item-divider>
        <ion-label>{{ "PROFILE.gallery" | translate }}</ion-label>
        <ion-button slot="end" [routerLink]="['/','public-gallery', this.profilestring]">{{ "GALLERY.titleP" | translate }}</ion-button>
      </ion-item-divider>

      <ion-list [ngClass]="[gallery]">
        <ion-item *ngFor="let gallerynft of publicgallerynfts "  [routerLink]="['/', 'publicgallery-detail', gallerynft ]" detail='false'>
          <div>
            <ion-avatar class="nft_image">
              <img [src]="gallerynft.image" alt=""/>
            </ion-avatar>
            <p>{{gallerynft.name}}</p>
          </div>
        </ion-item>
      </ion-list>

      <ion-list [ngClass]="[gallerydummy]">
        <ion-item>
          <div>
            <ion-avatar class="nft_image">
              <img src="./assets/images/icon.png">
            </ion-avatar>
            <p>No</p>
            <p>Items</p>
          </div>
        </ion-item>
      </ion-list>


      <ion-item-divider>
        <ion-label>{{ "PROFILE.usershop" | translate }}</ion-label>
        <ion-button slot="end" (click)="gotoshop()">{{ "PROFILE.shop" | translate }}</ion-button>
      </ion-item-divider>

      <ion-list [ngClass]="[shop]">
        <ion-item *ngFor="let onsalenft of onsalenfts "  [routerLink]="['/', 'shop-detail', onsalenft ]" detail='false'>
          <div>
            <ion-avatar class="nft_image">
              <img [src]="onsalenft.image" alt=""/>
            </ion-avatar>
            <p>{{onsalenft.name}}</p>
            <p><img class="logo" src="./assets/images/cashart.png"> {{onsalenft.price}}</p>
          </div>
        </ion-item>
      </ion-list>

      <ion-list [ngClass]="[shopdummy]">
        <ion-item>
          <div>
            <ion-avatar class="nft_image">
              <img  src="./assets/images/icon.png">
            </ion-avatar>
            <p>No</p>
            <p>Items</p>
          </div>
        </ion-item>
      </ion-list>

    </div>

  </div>
</ion-content>
