<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="preview">
      <ion-avatar>
        <ion-img id="profileimg" src="{{profile?.image}}" ></ion-img>
      </ion-avatar>
    </div>


    <div id="info">
      <ion-label>Username</ion-label><br>
      <p id="username" >{{profile?.username}}</p>

      <ion-label>Bio</ion-label>
      <p id="bio" >{{profile?.bio}}</p>
    </div>


    <div id="publicsection">

      <ion-list id="gallery">
        <ion-item *ngFor="let gallerynft of gallerynfts "  [routerLink]="['/', 'publicgallery-detail', gallerynft ]" >
          <div class="nftitem">
            <ion-avatar>
              <img [src]="gallerynft.image" alt=""/>
            </ion-avatar>
            <p>{{gallerynft.name}}</p>
          </div>
        </ion-item>

      </ion-list>
      <ion-button [routerLink]="['/','public-gallery', this.profilestring]">Pb-Gallery</ion-button>


      <ion-list id="shop">
        <ion-item *ngFor="let onsalenft of onsalenfts "  [routerLink]="['/', 'shop-detail', onsalenft ]" >
          <div class="nftitem">
            <ion-avatar>
              <img [src]="onsalenft.image" alt=""/>
            </ion-avatar>
            <p>{{onsalenft.name}}</p>
            <p>{{onsalenft.price}}</p>
          </div>
        </ion-item>
      </ion-list>
      <ion-button [routerLink]="['/','shop', this.profile?.uid]">Pvt SHOP</ion-button>
    </div>

  </div>
</ion-content>
