<ion-header>
  <ion-toolbar>
    <ion-title>{{ "LOGIN.title" | translate }}</ion-title>

    <ion-icon slot="end" id="language" name="language-outline"  (click)="openLangPop($event)"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-img src="./assets/images/icon.png"></ion-img>

    <form [formGroup]="credentials"(ngSubmit)="login()">
      <ion-label>Email</ion-label>
      <ion-item-divider>
        <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"></ion-note>
      </ion-item-divider>

      <ion-label>Password</ion-label>
      <ion-item-divider>
        <ion-input type="password" required placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"></ion-note>
      </ion-item-divider>

      <ion-row><ion-button [routerLink]="['./forgot']" class="small-text">Forgot Password?</ion-button></ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" [disabled]="!credentials.valid">Log In</ion-button>
          <ion-button [routerLink]="['./register']"  expand="block">Register</ion-button>

        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
