<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img src="./assets/images/icon.png"></ion-img>

    <form [formGroup]="credentials"(ngSubmit)="login()">
      <ion-label>Email</ion-label>
      <ion-item-divider>
        <ion-input id="item" type="email" required placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"></ion-note>
      </ion-item-divider>

      <ion-label>Password</ion-label>
      <ion-item-divider>
        <ion-input type="password" required placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"></ion-note>
      </ion-item-divider>

      <ion-row><a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a></ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" [disabled]="!credentials.valid">Sign In</ion-button>
          <ion-button (click)="register()" expand="block">New User</ion-button>

        </ion-col>
      </ion-row>
    </form>
    <ion-button [routerLink]="['/shop-detail']"></ion-button>
  </div>
</ion-content>
