<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

    <p id="currency">currency</p>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-item-divider><strong class="capitalize">Vetrina</strong></ion-item-divider>

 <ion-grid id="vetrina">
   <ion-row>
     <ion-col><div id="p"><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome1">Nome1</p><br><p id="prezzo1">Prezzo1</p></div></ion-col>
     <ion-col><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome2">Nome1</p><br><p id="prezzo2">Prezzo1</p></ion-col>
     <ion-col><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome3">Nome1</p><br><p id="prezzo3">Prezzo1</p></ion-col>
   </ion-row>
   <ion-row>
     <ion-col><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome4">Nome1</p><br><p id="prezzo4">Prezzo1</p></ion-col>
     <ion-col><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome5">Nome1</p><br><p id="prezzo5">Prezzo1</p></ion-col>
     <ion-col><ion-img src="./assets/images/icon.png">item</ion-img><br><p id="nome6">Nome1</p><br><p id="prezzo6">Prezzo1</p></ion-col>
   </ion-row>

 </ion-grid>

    <br>

    <ion-button [routerLink]="['/shop']">SHOP</ion-button>
    <br>

    <p1>Copiright by PietroAlex & Alexdib_creator</p1>
  </div>

</ion-content>
