ion-menu-button {
  color: var(--ion-color-primary);
}
/*
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
}
*/
#container {
  height: auto;
  width: auto;
  text-align: center;
}
/*
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  align-content: baseline;
}

#container a {
  text-decoration: none;
}
*/
#currency{
  font-size: 8px;

  color: #8c8c8c;
  width: 10%;
  alignment: right;
}
#cashart
{
  height: 30px;
  alignment: right;
}







/*
#vetrina {
  background-color : #ffff00;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

ion-item {
  width: 48%;
  background-color : white;
  margin : 2px;
}

ion-card {
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

*/



#vetrina {
  display: flex;
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;

}

ion-item {
  width : 33%;
  margin : 0.5px;
  text-aligh: left;
  font-size: smaller;
}

#vetrina ion-img{
  height: 100px;
  width: auto;
  margin-top: 5px;

}

/*



#vetrina {
  background-color : #ffff00;
  display: flex;
  justify-content: flex-start;
  position:relative;
  flex-wrap: wrap;
  flex-direction: row;


}

ion-item {
  width : 32%;
 position: relative;

  margin : 2px;



}
*/
