<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row><ion-col><ion-title>Home</ion-title></ion-col><ion-col><ion-img id="cashart" src="./assets/images/cashart.png"></ion-img></ion-col><ion-col><ion-text id="currency">currency</ion-text></ion-col></ion-row>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-item-divider><strong class="capitalize">Vetrina</strong></ion-item-divider>





    <!--    <div id="vetrina">

              <ion-card>
                <ion-card-title>1</ion-card-title>
                <p>Lorem ipsum dolor sit amet</p>
              </ion-card>

              <ion-card>
                <ion-card-title>2</ion-card-title>
                <p>Lorem ipsum dolor sit amet</p>
              </ion-card>

              <ion-card>
                <ion-card-title>3</ion-card-title>
                <p>Lorem ipsum dolor sit amet</p>
              </ion-card>


    -->


    <div >
        <ion-list id="vetrina">
          <!--
          <ion-item *ngFor="let notizia of notizie$ | async" [routerLink]="['/notizie', notizia.id]" routerDirection="forward" detail="true">
            <ion-label>{{notizia.dataPubblicazione | date:'dd/MM/yyyy'}}</ion-label>
            <span>{{notizia.nome | slice:0:20}}</span>
          </ion-item>
          -->
          <ion-item id="pippo"[routerLink]="['/shop-detail']">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <ion-label>Nome1</ion-label><span>Prezzo1</span>
          </ion-item>

















          <ion-item [routerLink]="['/shop-detail']">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <br><ion-label>Nome1</ion-label><span>Prezzo1</span>
          </ion-item>












          <ion-item [routerLink]="['/shop-detail']">
            <ion-img src="./assets/images/icon.png"></ion-img>
            <br><ion-label>Nome1</ion-label><span>Prezzo1</span>
          </ion-item>




















        </ion-list>
      </div>
    <!--
        <ion-grid id="vetrina">
          <ion-row>
            <ion-col (click)="navigateFromCode(1)"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome1">Nome1</p><br><p id="prezzo1">Prezzo1</p></ion-col>
            <ion-col  (click)="getLast6Items()"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome2">Nome2</p><br><p id="prezzo2">Prezzo2</p></ion-col>
            <ion-col (click)="navigateWithState(3)"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome3">Nome3</p><br><p id="prezzo3">Prezzo3</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col (click)="navigateWithState(4)"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome4">Nome4</p><br><p id="prezzo4">Prezzo4</p></ion-col>
            <ion-col (click)="navigateWithState(5)"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome5">Nome5</p><br><p id="prezzo5">Prezzo5</p></ion-col>
            <ion-col (click)="navigateWithState(6)"><ion-img src="./assets/images/icon.png"></ion-img><br><p id="nome6">Nome6</p><br><p id="prezzo6">Prezzo6</p></ion-col>
          </ion-row>


        </ion-grid>

-->







    <br>

    <ion-button [routerLink]="['/shop']">SHOP</ion-button>
    <br>

    <p>Copiright by PietroAlex & Alexdib_creator</p>
  </div>

</ion-content>
